$primary-font: "Source Sans Pro", sans-serif;
$secondary-font: "Open Sans", sans-serif;

$color-primary: #152f2e;
$color-secondary: #00c2c5;
$color-secondary-light: #0ec8cb;
$color-black: #000;
$color-white: #fff;

$heading-h1-lg: 64px;
$heading-h1-md: 52px;
$heading-h1-sm: 38px;

$heading-h2-lg: 38px;
$heading-h2-md: 30px;
$heading-h2-sm: 24px;

$heading-p-lg: 20px;
$heading-p-md: 16px;
$heading-p-sm: 18px;

$para-lg: 16px;
$para-md: 14px;
$para-sm: 12px;
